doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul.nav
      li
        a(href='/sessions/new', title='Sign In') Sign In
      li
        a(href='users/new', title='Create Account') Create an Account
    block content
