body
  font: 1rem "Helvetica Neue", Arial, sans-serif;
  background: #f0f5f7
a
  color: #00B7FF
.data
  list-style: none;
.message
  background: #fff;
  width: 80%;
  margin: 0 auto;
  border-radius: .4em;
  padding: 10px;
  .date, .author
    display: block;
  .date
    font-size: .75rem;
  .author
    font-size: .75rem;
    font-weight: bold;
