h1 Sign in
form(action='/sessions', method='POST')
  input(type='hidden', name='redir',  value=redir)
  label(for='username') Username:
  input(type='username', id='username', name='username')
  br
  label(for='password') Password:
  input(type='password', id='password', name='password')
  br
  input(type='submit', value="Sign in")
